body {
    background-color:rgba(12, 107, 202, 0.275);
}

.main_div {
    width: 100%;
}

.sidebar {
    float: left;
    width: 10%;
    margin-top: 20px;
    padding-left: 10px;
}       

.contain_div {
    float: right;
    width: 90%;
    height: 100%;
    margin-top: 20px;
    padding-left: 10px;
}
