.main_div {
    width: 100%;
}

.sidebar {
    float: left;
    width: 10%;
    height: 100vh;
    padding-left: 10px;
    padding-top: 20px;
    background-color:rgba(80, 3, 63, 0.275);
}       

.contain_div {
    float: right;
    width: 90%;
    height: 100vh;
    padding-left: 10px;
    background-color:rgba(12, 107, 202, 0.275);
}

.block_div {
    float: left;
    width: 20%;
    margin-top: 10px;
    box-shadow: 5px 5px ;
    background-color:rgba(4, 13, 23, 0.275);
}   