{% extends "index.html" %} 
{% load static %} 
{% block styleblock %}
<style>
#id_first_name, #id_last_name, #id_username, #id_email, #id_password, #id_password_confirm, #id_biography {
    width: 20%;
}
</style>
{% endblock %}
{% block mainblock %}
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
    {% csrf_token %}
    <label>{{form.first_name.label}} : </label>
    {{form.first_name}}<br>
    <label>{{form.last_name.label}} : </label>
    {{form.last_name}}<br>     
    <label>{{form.username.label}} : </label>
    {{form.username}}<br>
    <label>{{form.email.label}} : </label>
    {{form.email}}<br>
    <label>{{form.biography.label}} : </label>
    {{form.biography}}<br>
    <label>{{form.password.label}} : </label>
    {{form.password}}<br>
    <label>{{form.password_confirm.label}} : </label>
    {{form.password_confirm}}<br> 
    {% if form.password_confirm.errors %}
        {% for error in form.password_confirm.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}
    {% endif %}
    
    <button type="submit">Submit</button>
</form>
{% endblock %}